

body {
  font-family: system-ui, ubuntu;
  background: #90B08D;
  color: #060606;
}

main h2 {
  border-bottom: 2px solid #90B08D;
  padding-bottom: 0.3rem;
  margin-bottom: 1rem;
}

.nav-link.active {
  background-color: #bfe7f8 !important;
  color: #0f172a !important;
}